/*Animation*/

@keyframes load {
    0%{
        color: rgba(0, 203, 246, 0.08);
        /*opacity: 0.08;*/
        /*         font-size: 10px; */
        /* 				font-weight: 400; */
        filter: blur(5px);
        letter-spacing: 3px;
    }
    100%{
        /*         opacity: 1; */
        /*         font-size: 12px; */
        /* 				font-weight:600; */
        /* 				filter: blur(0); */
    }
}

.animate {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    margin: auto;
    color: #00cbf6;
    font-size: 40px;
    font-family: Helvetica, sans-serif, Arial;
    background: rgba(0, 0, 0, 0.4);
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px white;
}



/*Show big image from gallery*/
.biger-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
}

.biger-image > img {
    width: 70%;
    height: 70%;
}



/*General*/


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-content {
    min-width: 1200px;
    margin: 0 auto;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    background: url("../images/header_background.jpg") 50% 50% no-repeat fixed;
    background-size: cover;
}

.btn {
    width: 166px;
    height: 61px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}

.block__title {
    position: relative;
    color: #4e4e4e;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
}

.block__title::before {
    content: '';
    position: absolute;
    left: 46.1%;
    bottom: -37px;
    display: block;
    width: 76px;
    border-bottom: 1px solid #18cfab;
}

.block__title::after {
    content: '';
    position: absolute;
    left: 47.1%;
    bottom: -41px;
    display: block;
    width: 76px;
    border-bottom: 1px solid #18cfab;
}

.btn_load_more {
    display: block;
    border-bottom: none;
}

.btn_load_more > span {
    margin-left: 10px;
}




/*Helpers*/

.btn_theme_green {
    border: 1px solid #18cfab;
    background: #18cfab;
    box-shadow: 0 -5px 0 0 #fff;
}

.btn_theme_blue {
    border: 1px solid #00cbf6;
    background: #00cbf6;
    box-shadow: 0 -5px 0 0 #fff;
}

.hide {
    display: none;
}



/*Header navigation*/

.header__top {
    background: rgba(94, 95, 89, 0.8);
}

.header-top__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.header__logo {
    display: block;
    width: 200px;
    height: inherit;
    margin-left: 5px;
    background: url("../images/header_logo.png") center no-repeat;
}

.header__nav {
    display: flex;
    align-self: stretch;
    margin-right: 5px;
}

.header-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 645px;
}

.header-nav__list > li {
    display: flex;
    align-items: stretch;

}

.header-nav__list > li > a {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    color: #b8b8b8;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.header-nav__list > li > a:hover {
    color: #18cfab;
    box-shadow: 0 2px 0 0 #18cfab;
}

.header__search {
    display: flex;
    align-items: center;
    align-self: center;
    margin-left: 20px;
    font-size: 17px;
    color: #b8b8b8;
    text-decoration: none;
}

.header__search:hover {
    color: #fff;
}


/*Header content*/

.header__main {
    display: flex;
    height: 892px;
}

.header__content {
    margin: auto;
}

.header__title-top {
    margin-bottom: 40px;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.header__title-top > span {
    color: #18cfab;
}


.header__title-main {
    margin-bottom: 35px;
    color: #fff;
    font-size: 79px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.header__description {
    margin-bottom: 150px;
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
}

.header__buttons {
    text-align: center;
}

.header__buttons .btn:first-child {
    margin-right: 28px;
}



/*Main_Features*/

.features {
    display: flex;
}

.feature__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.feature__block:nth-child(odd) {
    color: #18cfab;
    background: #1c2a33;
    border-top: 7px solid #18cfab;
}

.feature__block:nth-child(even) {
    color: #fff;
    background: #18cfab;
    border-top: 7px solid #fff;
}

.feature__image {
    width: 120px;
    height: 105px;
    margin-top: 85px;
    margin-bottom: 45px;
}

.feature_finger-tuch {
    background: url("../images/feature_finger_tuch.png") center no-repeat;
}

.feature_gem {
    background: url("../images/feature_gem.png") center no-repeat;
}

.feature_lamp {
    background: url("../images/feature_lamp.png") center no-repeat;
}

.feature_comp {
    background: url("../images/feature_comp.png") center no-repeat;
}

.feature__title {
    margin-bottom: 120px;
    text-transform: uppercase;
}



/*Main_Services*/

.services{
    padding-top: 80px;
    padding-bottom: 100px;
}

.services__title {
    margin-bottom: 110px;
}

.services__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 25px;
}

.services__list > li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71px;
    color: #717171;
    font-size: 16px;
    background: #f8fcfe;
    border: 1px solid #ebebeb;
    cursor: pointer;
}

.services__list > li:not(:first-child) {
    margin-left: -1px;
}

li.service_theme_active {
    position: relative;
    color: #fff;
    background: #18cfab;
}

li.service_theme_active::before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -5%;
    bottom: -20px;
    display: block;
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;
}

.services__description-box {
    display: none;
}

.services__description-box_active {
    display: flex;
}


.services__image {
    width: 192px;
    height: 138px;
    margin-right: 20px;
    margin-bottom: 5px;
    border-top: 1px solid #b6b199;
    border-left: 1px solid #b6b199;
    border-right: 1px solid #b6b199;
}

.services__description {
    color: #777777;
    font-size: 13.66px;
    font-weight: 300;
    line-height: 24.69px;
    text-align: justify;
}


/*Main_Purchase*/

.purchase {
    background: url('../images/purchase_background.jpg') 50% 50% no-repeat fixed;
    background-size: cover;
}

.purchase__wrapper {
    width: 100%;
    height: 100%;
    padding: 127px 0;
    background: rgba(0, 0, 0, 0.8);
}

.purchase__title {
    margin-bottom: 35px;
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.purchase__description {
    margin-bottom: 75px;
    color: #d8d8d8;
    font-size: 16px;
    text-align: center;
}

.purchase__btn {
    display: block;
    margin: 0 auto;
}



/*Main_Works*/

.works {
    padding: 100px 0;
    background: #f8fcfe;
}

.works__list {
    display: flex;
    width: 52.5%;
    margin: 100px auto 70px auto;
}

.works__list > li {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 24px 18px 20px 15px;
    color: #717171;
    font-size: 14px;
    text-transform: capitalize;
    background: #fff;
    border: 1px solid #ebebeb;
    cursor: pointer;
}

.works__list > li:first-child {
    padding: 24px 27px 20px 27px;
}

.works__list > li:not(:first-child) {
    margin-left: -1px;
}

li.work_theme_active {
    position: relative;
    color: #18cfab;
}

li.work_theme_active::before {
    content: '';
    position: absolute;
    left: -1px;
    top: 0;
    display: block;
    width: 100%;
    border-bottom: 2px solid #18cfab;
    border-left: 1px solid #18cfab;
    border-right: 1px solid #18cfab;
}

.works__images-block {
    display: flex;
    flex-wrap: wrap;
}

.work__image {
    perspective: 1000px;
    width: 285px;
    height: 207px;
}

.work_image-hide {
    display: none;
}

.flipper {
    position: relative;
    transition: .6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    width: 100%;
    height: 100%;
}

.work__image:hover .flipper {
    transform: rotateY(180deg);
}

.work-image__front-side {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.work-image_web-design_1 {
    background: url("../images/works_web_design_1.jpg") no-repeat;
    background-size: cover;
}

.work-image_graphic_design_1 {
    background: url("../images/works_graphic_design_1.png") no-repeat;
    background-size: cover;
}

.work-image_web-design_2 {
    background: url("../images/works_web_design_2.png") no-repeat;
    background-size: cover;
}

.work-image_landing_pages_1 {
    background: url("../images/works_landing_pages_1.png") no-repeat;
    background-size: cover;
}

.work-image_wordpress_1 {
    background: url("../images/works_wordpress_1.png") no-repeat;
    background-size: cover;
}

.work-image_graphic_design_2 {
    background: url("../images/works_graphic_design_2.png") no-repeat;
    background-size: cover;
}

.work-image_graphic_design_3 {
    background: url("../images/works_graphic_design_3.png") no-repeat;
    background-size: cover;
}

.work-image_graphic_design_4 {
    background: url("../images/works_graphic_design_4.png") no-repeat;
    background-size: cover;
}

.work-image_wordpress_2 {
    background: url("../images/works_wordpress_2.png") no-repeat;
    background-size: cover;
}

.work-image_landing_pages_2 {
    background: url("../images/works_landing_pages_2.png") no-repeat;
    background-size: cover;
}

.work-image_landing_pages_3 {
    background: url("../images/works_landing_pages_3.png") no-repeat;
    background-size: cover;
}

.work-image_wordpress_3 {
    background: url("../images/works_wordpress_3.png") no-repeat;
    background-size: cover;
}

.work-image__back-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #f8fcfe;
    transform: rotateY(180deg);
}

.work-image__back-side::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    border-bottom: 2px solid #18cfab;
}

.back-side__buttons {
    margin-bottom: 34px;
}

.back-side__btn {
    width: 41px;
    height: 40px;
    margin-top: 44px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    background: url("../images/works_back_side_btn.png") no-repeat;
    cursor: pointer;
}

.back-side__share-btn {
    background-color: #f8fcfe;
    background-position: -8px -8px;
}

.back-side__search-btn {
    background-color: #18cfab;
    background-position: -62px -7px;
}

.work-image__title {
    margin-bottom: 14px;
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.work-image__category {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    text-transform: capitalize;
}

.works__btn {
    margin: 70px auto 0 auto;
}

.fa-plus {
    font-size: 16px;
}



/*Main_News*/

.news {
    padding-top: 84px;
    padding-bottom: 130px;
}

.news__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 45px 30px;
    margin-top: 105px;
}

.news-post {
    position: relative;
    display: grid;
    text-decoration: none;
}

.news-post:hover > .news-post__date{
    background: #18cfab;
}

.news-post:hover .news-post__title {
    color: #18cfab;
}

.news-post__image {
    width: 263px;
    height: 208px;
}

.news-post__date {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 68px;
    height: 66px;
    color: #fff;
    font-size: 16px;
    background: #203e38;
}

.news-post__date > span {
    display: block;
}

.news-post__description {
    padding-top: 12px;
    padding-bottom: 10px;
    background: #f8fcfe;
    border: 1px solid #f4f4f4;
}

.news-post__title {
    margin-left: 10px;
    margin-bottom: 15px;
    color: #717171;
    font-size: 18px;
    font-weight: 700;
}

.news-post__subs {
    display: flex;
    color: #717171;
    font-size: 14px;
    font-weight: 300;
}

.news-post__author {
    padding: 0 15px;
    border-right: 1px solid #717171;
}

.news-post__comment {
    margin-left: 15px;
}



/*Main_Review*/

.reviews {
    background: url("../images/review_background.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.reviews__wrapper {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    background: rgba(0, 0, 0, 0.7);
}

.reviews__title {
    margin-bottom: 105px;
    color: #fff;
}

.reviews__quotes {
    margin: 0 auto 45px auto;
    width: 44px;
    height: 30px;
    background: url("../images/review_quotes.png") 50% 50% no-repeat;
}

.reviews__description {
    height: 120px;
    margin-bottom: 45px;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.reviews__author-block {
    display: none;
    margin: 0 auto;
    text-align: center;
}

.reviews__author-block_active {
    display: block;
}

.reviews__author {
    margin-bottom: 17px;
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.reviews__author-position {
    margin-bottom: 28px;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
}

.review_author-photo-box {
    width: 143px;
    height: 142px;
    margin: 0 auto 40px auto;
    padding: 10px;
    background: rgba(24, 207, 171, 0.3);
    border-radius: 50%;
}

.reviews__author-photo {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 3px solid #18cfab;
    border-radius: 50%;
}

.reviews__author-list {
    position: relative;
    width: 360px;
    height: 80px;
    margin: 0 auto;
}

.reviews__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.reviews__list > li {
    width: 68px;
    height: 68px;
    box-sizing: border-box;
    padding: 4px;
    background: rgba(24, 207, 171, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

.reviews__list > li > img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 50%;
}

.review__list_active-item {
    align-self: flex-start;
}

.reviews__list > li:hover {
    align-self: flex-start;
}

li.review__list_active-item > img {
    border: 1px solid #18cfab;
}

.reviews__btn {
    position: absolute;
    display: flex;
    width: 31px;
    height: 31px;
    color: #b9b9b9;
    text-align: center;
    border: 1px solid #bbbbbb;
    background: transparent;
    cursor: pointer;
}

.reviews__btn:hover {
    color: #fff;
    border: 1px solid #18cfab;
    background: #18cfab;
}

.reviews__prev {
    top: 50%;
    left: -60px;
    margin-top: -0.625em;
}

.reviews__next {
    top: 50%;
    right: -60px;
    margin-top: -0.625em;
}

.fa-chevron-left,
.fa-chevron-right {
    margin: auto;
}



/*Main_Gallery*/

.gallery {
    padding-top: 95px;
    padding-bottom: 200px;
    background: #f8fcfe;
}

.gallery__title {
    margin-bottom: 105px;
}

.gallery__images-block {
    width: 370px;
    margin-bottom: 15px;
}

.gallery__image-wrapper {
    position: relative;
    display: inline-block;
}

.gallery__image-hover {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

.gallery__image-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23.2%;
    height: 22.6%;
    font-size: 14px;
    color: #fff;
    background: #00cbf6;
    border-radius: 2px;
    cursor: pointer;
    opacity: .8;
}

.gallery__image-search {
    margin-right: 15px;
}

.gallery__image-wrapper:hover .gallery__image-hover{
    display: flex;
}

.gallery__btn {
    margin: 67px auto 0 auto;
}


/*Footer*/

.footer {
    position: relative;
    top: -10px;
    display: flex;
    padding: 47px 0;
    background: #22353f;
}

.footer__copyright-block {
    display: flex;
    margin: auto;
}

.footer_copyright {
    padding-right: 5px;
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    border-right: 1px solid #aeaeae;
}

.footer_copyright > a {
    color: #18cfab;
    text-decoration: none;
}

.footer_description {
    padding-left: 4px;
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
}

